<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Предсказание прочности при растяжении композитных материалов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid text-center">
    <header class="pb-3 pt-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none pl-3">
          <span class="fs-4">Предсказание прочности при растяжении</span>
      </a>
    </header>
      <div class="dashboard-center col-12 p-3 text-bg-light">
        <form action="" method="post">
          <div class="form-group">
            <label for="pmatnap">Соотношение матрица-наполнитель</label>
            <input type="text" class="form-control" name="pmatnap" placeholder="">
          </div>
          <div class="form-group">
            <label for="pplotn">Плотность, кг/м3</label>
            <input type="text" class="form-control" name="pplotn" placeholder="">
          </div>
          <div class="form-group">
            <label for="pmoduprg">Модуль упругости, ГПа</label>
            <input type="text" class="form-control" name="pmoduprg" placeholder=  "">
          </div>
          <div class="form-group">
            <label for="pkolotv">Количество отвердителя, м.%</label>
            <input type="text" class="form-control" name="pkolotv" placeholder=  "">
          </div>
          <div class="form-group">
            <label for="pepoks">Содержание эпоксидных групп,%_2</label>
            <input type="text" class="form-control" name="pepoks" placeholder=  "">
          </div>
          <div class="form-group">
            <label for="ptempvsp">Температура вспышки, С_2</label>
            <input type="text" class="form-control" name="ptempvsp" placeholder=  "">
          </div>
          <div class="form-group">
            <label for="ppoverhplot">Поверхностная плотность, г/м2</label>
            <input type="text" class="form-control" name="ppoverhplot" placeholder=  "">
          </div>
          <div class="form-group">
            <label for="pmoduprprrast">Модуль упругости при растяжении, ГПа</label>
            <input type="text" class="form-control" name="pmoduprprrast" placeholder=  "">
          </div>
          <div class="form-group">
            <label for="ppotrebsm">Потребление смолы, г/м2</label>
            <input type="text" class="form-control" name="ppotrebsm" placeholder=  "">
          </div>
          <div class="form-group">
            <label for="pugolnash">Угол нашивки, град</label>
            <input type="text" class="form-control" name="pugolnash" placeholder=  "">
          </div>
          <div class="form-group">
            <label for="pshagnash">Шаг нашивки</label>
            <input type="text" class="form-control" name="pshagnash" placeholder=  "">
          </div>
          <div class="form-group">
            <label for="pplotnash">Плотность нашивки</label>
            <input type="text" class="form-control" name="pplotnash" placeholder=  "">
          </div>
          <input type="submit" class="btn btn-lg btn-primary btn-block mt-2" value="Отправить">
        </form>
      </div>

    </div>


</body>
</html>